<!DOCTYPE html>
<html lang="en">

<head>
    <base href="./" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/zebra_dialog.min.js"></script>
    <link rel="stylesheet" href="./scripts/css/flat/zebra_dialog.css">
    <script src="./scripts/web3.js"></script>
    <script src="./process/login.process.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <title>Sponsor</title>
</head>

<body>

    <div id="divBody" class="divApp">
        <div id="divrGVaiTro" style="background-color: white;" class='divChildren'>
            <label class='divTitles' for="fname">Vai trò của anh chị: </label>
            <br />
            <label class="rad-label">
                <input type="radio" class="rad-input" name="rActor" value="canhan">
                <div class="rad-design"></div>
                <div class="rad-text">Cá Nhân</div>
            </label>
            <label class="rad-label">
                <input type="radio" class="rad-input" name="rActor" value="doanhnghiep">
                <div class="rad-design"></div>
                <div class="rad-text">Doanh Nghiệp</div>
            </label>
        </div>
        <br />
        <div id="divName" style="background-color: white" class='divChildren'>
            <label class='divTitles' for="fname">Họ và tên: </label>
            <br />
            <label class='divTitleChildren' for="fname"> Nếu là Vai trò của anh/chị là tổ chức thì họ tên là người đại
                diện: </label>
            <br />
            <input id="txtName" type="text" placeholder="Nhập họ tên"></input>
        </div>
        <br />
        <div id="divPhone" style="background-color: white" class='divChildren'>
            <label class='divTitles' for="fname">Số điện thoại:</label>
            <br />
            <label class='divTitleChildren' for="fname">Nếu là Vai trò của anh/chị là tổ chức thì số điện thoại là người
                đại diện. Ngoài ra, số điện thoại được dùng để truy vấn học bỏng. </label>
            <input id="txtPhone" type="text" placeholder="Nhập số điện thoại"></input>
        </div>
        <br />
        <div id="divPass" style="background-color: white" class='divChildren'>
            <label class='divTitles' for="fname">Mật khẩu: </label>
            <br />
            <label class='divTitleChildren' for="fname"> Nếu là Vai trò của anh/chị là tổ chức thì mật khẩu là người đại
                diện </label>
            <input id="txtPass" type="password" placeholder="Nhập mật khẩu"></input>
        </div>
        <br />
        <div id="divGmail" style="background-color: white" class='divChildren'>
            <label class='divTitles' for="fname">Gmail:</label>
            <br />
            <label class='divTitleChildren' for="fname">Nếu là Vai trò của anh/chị là tổ chức thì email là người đại
                diện. Ngoài ra, số điện thoại được dùng để truy vấn học bỏng.</label>
            <input id="txtGmail" type="email" placeholder="Nhập gmail"></input>
        </div>
        <br />
        <div id="divAddress" style="background-color: white" class='divChildren'>
            <label class='divTitles' for="fname">Địa chỉ: </label>
            <br />
            <label class='divTitleChildren' for="fname">Nếu là Vai trò của anh/chị là tổ chức thì địa chỉ là tổ
                chức.</label>
            <input id="txtAddress" type="text" placeholder="Nhập địa chỉ"></input>
        </div>
        <br />
        <input id="submit" type="submit" value="Submit"></input>
        <br />
    </div>



</body>

</html>